
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>消落带采集系统</title>
    <!--jquery-->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="~/Scripts/viewer.min.css">
    <script src="~/Scripts/viewer.min.js"></script>
    <!--CesiumJS-->
    <link href="~/Scripts/Cesium/Widgets/widgets.css" rel="stylesheet" />
    <script src="~/Scripts/Cesium/Cesium.js"></script>
    <script src="~/Scripts/navigation/viewerCesiumNavigationMixin.min.js"></script>
    <script src="~/Scripts/navigation/SpirographPositionProperty.js"></script>
    <!--Layui-->
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.all.js"></script>
    <!--ECharts-->
    <script src="~/Scripts/ECharts/echarts.min.js"></script>
    @*<script src="~/Scripts/ECharts/echarts.js"></script>*@
    <!--FileSaver-->
    <script src="~/Scripts/FileSaver.js"></script>
    <link href="~/Apps/flz/css/main.css" rel="stylesheet" />
    <style>
        body {
            overflow-y: scroll; /* 禁止刷新后出现横向滚动条 */
        }

        .layui-layer-rim .layui-layer-content {
            height: 84% !important;
        }
    </style>


</head>
<body>
    <!--顶栏-->
    @*<div id="header">
        <div id="syslogo"><span>消落带地质要素在线辅助采集系统</span></div>

        <div class="layui-inline" style="position:absolute;left:420px;bottom:5px">
            <div class="layui-input-inline" id="currentprojectoperate">
                <select id="currentproject"></select>
            </div>
        </div>
        <div style="position:absolute;right:5px">
            <button id="userbtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="color:Lavender"><span class="layui-icon layui-icon-user" style="font-size:16px "><span style="margin-left:5px ;font-size:16px">@ViewBag.UserName</span></span></button>
            <button id="noticebtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="color:Lavender"><span style="font-size:16px " class="layui-icon layui-icon-notice"></span></button>
            <button id="setbtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="color:Lavender"><span style="font-size:16px " class="layui-icon layui-icon-set-fill"></span></button>
            <a href="~/Platform/Logout">
                <button id="exitbtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="color:Lavender"><span style="font-size:16px " class="layui-icon layui-icon-logout"></span></button>
            </a>
        </div>
    </div>*@

    <!--顶栏-->
    <div id="header">
        <div style="position:absolute;height:100%;width:380px;">
            <div style="position:absolute;width:50px;height:50px;">
                <!--系统图标-->
                @*<svg t="1643122590509" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1116" width="50" height="50"><path d="M511.53651428 206.48566437L794.72628784 293.23474121v263.33713532c-3.08990479 5.33008576-14.1363144 21.2430954-50.98342896 56.85424804-26.88217163 25.87795258-62.5705719 57.70397187-106.21547699 94.39659118C588.47514343 749.15019226 540.34987641 787.54225922 512.7724762 809.24884033c-27.57740021-21.70658112-75.70266724-60.09864807-124.75490571-101.34887695C344.37266541 671.13009643 308.68426513 639.30407715 281.80209351 613.34887695c-36.84711457-35.61115266-47.89352417-51.52416229-50.98342896-56.85424804v-263.41438294l280.71784973-86.5945816m-0.07724762-40.40050507L192.19485474 264.65312195v296.86260224c0 49.36122894 320.57762146 296.78535461 320.57762146 296.7853546S833.35009765 610.87695313 833.35009765 561.43847655V264.57587433L511.45926666 166.0851593z" fill="#ffffff" p-id="1117"></path><path d="M606.70558167 686.42512511L508.91009521 369.47814178 419.30285644 573.95259094l-113.24501037-117.41638183H215.36914062v-38.62380982h107.14244844l84.58614349 87.7532959 108.14666748-246.72889709L615.28006745 583.06781006l82.65495299-165.15541077h110.85033417v38.62380982H721.80453492z" fill="#ffffff" p-id="1118"></path></svg>*@
                <svg t="1650529006316" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="24299"width="48" height="48"><path d="M927 105.8H97c-19.3 0-35 15.7-35 35v591.5c0 19.3 15.7 35 35 35h343.6v80.9H177.9c-19.3 0-35 15.7-35 35s15.7 35 35 35h668.2c19.3 0 35-15.7 35-35s-15.7-35-35-35H583.4v-80.9H927c19.3 0 35-15.7 35-35V140.8c0-19.3-15.7-35-35-35z m-35 591.5H132V175.8h760v521.5z" p-id="24300" fill="#ffffff"></path><path d="M195.1 616.2c6.1 4.3 13.1 6.4 20.1 6.4 11 0 21.9-5.2 28.7-14.9l99.5-141.6 92 64.6c7.6 5.3 17 7.4 26.1 5.8 9.1-1.6 17.3-6.8 22.6-14.4l67.7-96.4 94.1 66.1c7.6 5.3 17 7.4 26.1 5.8 9.1-1.6 17.3-6.8 22.6-14.4l119.5-170.1c11.1-15.8 7.3-37.6-8.5-48.8-15.8-11.1-37.6-7.3-48.8 8.5l-99.4 141.5-94.1-66.1c-7.6-5.3-17-7.4-26.1-5.8-9.1 1.6-17.3 6.8-22.6 14.4l-67.7 96.4-92-64.6c-15.8-11.1-37.6-7.3-48.8 8.5L186.6 567.5c-11.1 15.8-7.3 37.6 8.5 48.7z" p-id="24301" fill="#ffffff"></path></svg>
            </div>

            <div style="position:absolute;margin:2px 2px 2px 52px;">
                <p class="syschinaTitle">地质要素在线辅助采集系统</p>
                <p class="sysenglishTitle">Geology Essential Factor Collection System</p>
            </div>
        </div>

        <!--当前项目-->
        <div style="position:absolute;left:45%;margin-left:-250px;text-align:center;width:200px;">
            <div class="layui-input-inline" id="currentprojectoperate">
                <select id="currentproject" style="margin-top:5px;"></select>
            </div>
        </div>

        <!--工具栏-->
        <div style="position:absolute;top:7px;right:5px">
            <button id="userbtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="height:35px;color:Lavender"><i class="layui-icon layui-icon-user"><span style="margin-left:5px;font-size:18px;">@ViewBag.UserName</span></i></button>
            <button id="noticebtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="height:35px;color:Lavender"><i class="layui-icon layui-icon-notice"></i></button>
            <button id="setbtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="height:35px;color:Lavender"><i class="layui-icon layui-icon-set-fill"></i></button>
            <a href="~/Platform/Logout">
                <button id="exitbtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="height:35px;color:Lavender"><i class="layui-icon layui-icon-logout"></i></button>
            </a>
        </div>
    </div>
    <!--地图-->
    <div id="map"></div>
    <!--javascript-->
    <script>
        var servicesurl = @Html.Raw(Json.Encode(ViewBag.ServicesURL));
        var datasurl = @Html.Raw(Json.Encode(ViewBag.DatasURL));
        var ViewBag = @Html.Raw(Json.Encode(ViewBag));
    </script>
    <!--页面的html放在这里-->
    <script src="~/Apps/flz/js/html.js"></script>
    <script src="~/Apps/flz/js/1.1-all.js"></script>
    <script src="~/Apps/flz/js/1.2-para.js"></script>
    <script src="~/Apps/flz/js/3.0-map.js"></script>
    <script src="~/Apps/flz/js/4.1-projectlist.js"></script>
    <script src="~/Apps/flz/js/4.2-projectinfo.js"></script>
    <script src="~/Apps/flz/js/5.0-header.js"></script>
    <script src="~/Apps/flz/js/5.1-message.js"></script>
    <script src="~/Apps/flz/js/5.2-setting.js"></script>
    <script src="~/Apps/flz/js/6.0-util.js"></script>
    <script src="~/Apps/flz/js/6.1-layerlist.js"></script>
    <script src="~/Apps/flz/js/6.2-autodevice.js"></script>
    <script src="~/Apps/flz/js/6.3-autodata.js"></script>
    <script src="~/Apps/flz/js/6.4-analysis.js"></script>
    <script src="~/Apps/flz/js/6.5-warning.js"></script>
    @*<script src="~/Apps/rock/js/6.6-measure.js"></script>*@
    <script src="~/Apps/flz/js/6.6-xiePuo.js"></script>

    <script src="~/Apps/flz/js/6.8-localtool.js"></script>
    <script src="~/Apps/flz/js/6.9-report.js"></script>
    <!--新增陈小飞 修改-->
    <script src="~/Apps/flz/js/6.7-draw.js"></script>
    <script src="~/Apps/rock/js/6.7-draw.js"></script>
    <script src="~/Apps/common/common.js"></script>
    <script src="~/Apps/common/measure.js"></script>
    <script src="~/Apps/common/mark.js"></script>


</body>
</html>
